@model TestEquatMvc.Models.ContextSolveStrategy

@{
    ViewBag.Title = "Web Equations Solver";
}

<div class="title"><span class="red">Welcome</span> to the Web Solver Equations</div>
<h3>Please, fill the matrix equations</h3>

    @using (Ajax.BeginForm("GetResult", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "results"
    }))
    {
        <form id="equatsForm"  method="post" >
            
            <input id="names1" name="names" type="text" value="" />
            <br />
            <input id="names2" name="names" type="text" value="" />
            <br />
            <input id="names3" name="names" type="text" value="" />
            <br/>
            <button type="submit" name="action" class="cramerMethod" value="Cramer's method">Cramer's method</button>
            <button type="submit" name="action" class="gaussMethod" value="Gauss's method">Gauss's method</button>
        </form>
                
    }

    <div id="results">
    
      @Model.Result
    
    </div>

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/jquery-1.8.0.min.js")