@model TestEquatMvc.Models.ContextSolveStrategy

@{
    ViewBag.Title = "Web Equations Solver";
}

<div class="title"><span class="red">Welcome</span> to the Web Solver Equations</div>
<h3>Please, fill the matrix equations</h3>

    @using (Html.BeginForm())
    {
        <form id="equatsForm"  method="post" action="@Url.Action("AddComment")">
            
            <input id="names1" name="names" type="text" value="" />
            <br />
            <input id="names2" name="names" type="text" value="" />
            <br />
            <input id="names3" name="names" type="text" value="" />
            <br/>
            <button type="submit" name="action" class="cramerMethod" value="Cramer's method">Cramer's method</button>
            <button type="submit" name="action" class="gaussMethod" value="Gauss's method">Gauss's method</button>
        </form>
                
    }

    <div id="results">
    
      @Model.Result
    
    </div>
