@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>
<div>
    Select dimension of the matrix
    @using (Html.BeginForm())
    {
        <form action="/Views/Home/Start.cshtml" method="post">
            <input id="dim", name="dim" type="text" maxlength="1"  value="" />
            <input type="submit", value ="OK" /> 
        </form>
    }
</div>